/* GYM-APP/frontend/src/components/dashboard/CreditLogModal.css */
.credit-log-modal {
    width: 80%;
    max-width: 950px;
}
.amount-positive {
    color: #28a745; /* Verde */
    font-weight: bold;
}
.amount-negative {
    color: #dc3545; /* Rojo */
    font-weight: bold;
}